<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../../lib/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../../../lib/easyui/themes/icon.css">
    <script src="../../../lib/JQuery/jquery-1.11.1.js"></script>
    <script src="../../../lib/easyui/jquery.easyui.min.js"></script>
    <script src="../../../lib/easyui/easyui-lang-zh_CN.js"></script>
    <script src="../../../freedom-system.js"></script>
    <script src="../../../lib/vue/vue.min.js"></script>
    <!--<script src="yxzl.js"></script>-->

    <style type="text/css">

    </style>
</head>
<body>
<div class="easyui-layout" data-options="fit:true" id="Operation">
    <div data-options="region:'center',border:false">
            <div class="easyui-accordion" data-options="multiple:true">
                <div v-for="(item,index) in StationgroupData" :title="item.NAME" style="overflow: auto; padding: 10px;">
                    <p>{{item.NAME}}数量：共{{top.Freedom.iot.SunStationByType(item.NAME)}}处</p>
                    <b style="font-size:15px">监测指标：</b>
                    <p v-for="items in computedIndex_equip(item.NAME)">
                        {{items}}：{{computedIndex_tag(items,item.NAME)}}
                    </p>
                    <p v-if="load" style="vertical-align: middle">
                        累计采集数据：
                        <img height=10 width=60 src="./common-img/loading.gif" style="border: 0">
                    </p>
                    <p v-else="load">累计采集数据：{{countHistory[index].count1}}</p>
                    <p v-if="load" style="vertical-align: middle">
                        累计报警数据：
                        <img height=10 width=60 src="./common-img/loading.gif" style="border: 0">
                    </p>
                    <p v-else="load">累计报警数据：{{countAlert[index].count2}}</p>
                </div>
            </div>
        </div>
</div>
</body>
</html>
<script>
    var app = new Vue({
        el: "#Operation",
        data: {
            StationgroupData: top.Freedom.iot.SelStationGroupByType('供水'),
            StationData: top.Freedom.Vue.StationData,
            load: true,
            countHistory: [],
            countAlert: []
        },
        mounted() {
            var stationidArray = this.computedIndex_statID();
            this._count(stationidArray);
        },
        //不基于响应式依赖进行缓存，实时更新
        methods: {
            //获取监测设备
            computedIndex_equip: function(stationgroupName) {
                var equip = [];
                var stationEquip =
                    top.Freedom.iot.SelEquipAndMonitorByStation(top.Freedom.iot.SelStationsByType(stationgroupName));
                if (stationEquip.length) {
                    stationEquip[0].equipment.forEach(function(items) {
                        equip.push(items.NAME);
                    });
                }
                return equip;
            },
            //获取监测项
            computedIndex_tag: function(equipName, stationgroupName) {
                var tag = [];
                var stationEquip =
                    top.Freedom.iot.SelEquipAndMonitorByStation(top.Freedom.iot.SelStationsByType(stationgroupName));

                if (stationEquip.length) {
                    stationEquip[0].equipment.forEach(function (items) {
                        if (items.NAME == equipName) {
                            items.monitors.forEach(function(itemms) {
                                tag.push(itemms.TAG_NAME);
                            });
                        }
                    });
                }
                return tag;
            },
            //获取所有分组下的所有stationID
            computedIndex_statID: function () {
                var _this = this;
                var stationidArray = [];
                var _stationid;
                if (_this.StationData.length > 0) {
                    _this.StationgroupData.forEach(function (items) {
                        var stationid = "";
                        _this.StationData.forEach(function(jitems) {
                            if (items.NVFID == jitems.GROUPID) {
                                stationid += "'" + jitems.NVFID + "',";
                            }
                        });
                        if (stationid) {
                            _stationid = stationid.substring(0, stationid.length - 1);
                        } else {
                            _stationid = "";
                        }
                        stationidArray.push(_stationid);
                    });
                    return stationidArray;
                } else {
                    return null;
                }

            },
            _count: function (stationidArray) {
                var _this = this;
                if (stationidArray.length && stationidArray) {
                    var str = stationidArray.join(';');
                    $.ajax({
                        url: '../../../../handler/IOTHandler.ashx?action=CountByStationID',
                        dataType: "JSON",
                        data: {
                            stationID: str
                        },
                        success: function (result) {
                            _this.load = false;
                            _this.countHistory = result;
                            _this.countAlert = result;
                        }
                    });
                }
            }

        }
    });
</script>